@import '../helpers/mixins';

.modal {
    position: relative;
    max-width: 1040px;
    padding: 56px;
    border-radius: $radius-lg;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px $outline;

    &__content {
        flex-wrap: nowrap;
        gap: 24px;
    }

    &__desc {
        padding: 8px 0;
    }

    &__price {
        font-size: $fs-headings;
        line-height: $lh-headings;
        font-weight: 600;
    }

    &__user {
        align-items: flex-end;
        transform: translateY(-25px);
    }

    &__score {
        min-width: 196px;
        min-height: 68px;
        padding: 8px 16px;
        border-radius: $radius-lg;
        background-color: #f0fafd;
    }

    &__amount {
        height: 52px;
        color: $grey;

        &::after {
            content: '🛍️';
            display: block;
            width: 40px;
            height: 40px;
            margin-left: auto;
            font-size: 0;
            background: url('../assets/bags.png') no-repeat;
            background-size: cover;
            transform: translateY(-45px);
        }
    }

    &__budget {
        @include line-break;

        font-size: $fs-alerts;
        color: $dark;
    }

    &__highlights,
    &__details {
        margin: 0;
    }

    &__highlight {
        margin-top: 24px;
        font-weight: 600;
    }

    &__title {
        margin-bottom: 8px;
        font-size: $fs-headings;
        line-height: $lh-headings;
        font-weight: 400;
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
        font-size: 0;
        margin-left: auto;
        background-color: transparent;
        background-image: url('../assets/close-btn.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition: transform $duration;

        &:hover {
            @include scaler;
        }
    }
}
