.overlay {
    position: fixed;
    z-index: 2;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        background-color: $dark;
        opacity: 0.6;
    }
}
