$fs-headings: 20px;
$fs-alerts: 16px;
$fs-content: 14px;
$fs-small: 13px;
$lh-headings: 32px;
$lh-generic: 24px;
$dark: #1c1819;
$blue: #2a81dd;
$grey: #888b94;
$red: #f33;
$white: #fff;
$green: #64bd38;
$honeydew: #eff8eb;
$cosmiclatte: #fffae7;
$aliceblue: #e9f2fb;
$radio-checked: #d6ecfb;
$outline: rgba(28, 24, 25, 0.1);
$radius-xs: 4px;
$radius-sm: 8px;
$radius-lg: 16px;
$duration: 300ms;
