@use '../global/variables' as *;
@use '../blocks/socialbar';
@use '../helpers/mixins';

.footer {
    padding: 20px 0 22px 0;
    color: #fff;
    background-color: $dark;

    &__copyright {
        margin-bottom: 8px;
        font-size: 16px;
    }

    &__contacts {
        gap: 54px;
    }

    &__invitation {
        .line-break {
            @include mixins.line-break;
        }
    }
}
