.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 215px;
    height: 35px;
    font-size: 0;
    background: url('../assets/logo.svg') no-repeat;
}

.btn {
    padding: 0.45em 2.65em;
    border-radius: var(--radius-sm);
    box-shadow: 0 2px 4px var(--outline);

    &--hero {
        background-color: var(--blue);
        color: #fff;
    }
}
