fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.radio-button {
    display: inline-block;
    margin: 8px 8px 0 0;

    &:last-child {
        margin-right: 0;
    }

    label {
        display: block;
        border-radius: var(--radius-sm);
        line-height: 40px;
        text-align: center;
        color: var(--blue);
        box-shadow: inset 0 0 0 1px rgba(28, 24, 25, 0.1);
        cursor: pointer;
        transition: box-shadow var(--duration);

        &:hover {
            box-shadow: inset 0 0 0 1px var(--blue);
        }
    }
}

input {
    &[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;

        &:checked + label {
            pointer-events: none;
            color: var(--dark);
            background-color: var(--radio-checked);
            box-shadow: none;
        }
    }
}
