/* Для трансформаций при наведении курсора */
@mixin scaler {
    transform: scale(1.5);
}

/* Скрывает со страницы, но оставляет доступным для скрин ридеров */
@mixin visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Патч для перекрытия наложения тени в карточках товара на Главной */
@mixin intersection {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    height: 1em;
    z-index: -1;
}
