@import './overrides/global';
@import './structures/layout';
@import './structures/overlay';
@import './structures/modal';
@import './blocks/buttons';
@import './blocks/radio-buttons';
@import './blocks/gallery';

/**
Содержание:
3. Стили для контента модального окна
*/

/* 3. Стили для контента модального окна */
dd,
dl {
    margin: 0;
}

.content {
    &__feats {
        padding: 8px 0;

        h2 {
            margin-bottom: 8px;
            font-size: $fs-headings;
            line-height: $lh-headings;
            font-weight: 400;
        }
    }
}

.feats {
    &__price {
        font-size: $fs-headings;
        line-height: $lh-headings;
        font-weight: 600;
    }

    &__userarea {
        align-items: flex-end;
        transform: translateY(-25px);
    }
}

.userarea__score {
    min-width: 196px;
    min-height: 68px;
    padding: 8px 16px;
    border-radius: $radius-lg;
    background-color: #f0fafd;
}

.score {
    &__desc {
        width: 100.5px;
        height: 52px;
        color: $grey;

        &::after {
            content: '🛍️';
            display: block;
            width: 40px;
            height: 40px;
            margin-left: auto;
            font-size: 0;
            background: url('../assets/bags.png') no-repeat;
            background-size: cover;
            transform: translate(65px, -45px);
        }
    }

    &__amount {
        font-size: $fs-alerts;
        color: $dark;
    }
}

.desc__highlight {
    margin-top: 24px;
    font-weight: 600;
}
