@import './overrides/global';
@import './structures/layout';
@import './structures/overlay';
@import './structures/modal';
@import './blocks/buttons';
@import './blocks/radio-buttons';
@import './blocks/gallery';

/**
Содержание:
1. Стили для галереи
2. Стили для элементов формы
3. Стили для контента модального окна
*/

/* 2. Стили для элементов формы */

.sizes {
    margin-top: 24px;

    .radio-button label {
        width: 40px;
    }
}

.colors .radio-button label {
    padding: 0 12px 0 8px;

    &::before {
        content: '';
        display: inline-block;
        width: 23px;
        height: 24px;
        margin-right: 8px;
        margin-bottom: 2px;
        vertical-align: middle;
        border-radius: 4px;
    }
}

label {
    &[for='color-blue']::before {
        background-color: #00458a;
    }

    &[for='color-beige']::before {
        background-color: #efe8d8;
    }

    &[for='color-grey']::before {
        background-color: #d4d4da;
    }
}

/* 3. Стили для контента модального окна */
dd,
dl {
    margin: 0;
}

.content {
    &__feats {
        padding: 8px 0;

        h2 {
            margin-bottom: 8px;
            font-size: $fs-headings;
            line-height: $lh-headings;
            font-weight: 400;
        }
    }
}

.feats {
    &__price {
        font-size: $fs-headings;
        line-height: $lh-headings;
        font-weight: 600;
    }

    &__userarea {
        align-items: flex-end;
        transform: translateY(-25px);
    }
}

.userarea__score {
    min-width: 196px;
    min-height: 68px;
    padding: 8px 16px;
    border-radius: $radius-lg;
    background-color: #f0fafd;
}

.score {
    &__desc {
        width: 100.5px;
        height: 52px;
        color: $grey;

        &::after {
            content: '🛍️';
            display: block;
            width: 40px;
            height: 40px;
            margin-left: auto;
            font-size: 0;
            background: url('../assets/bags.png') no-repeat;
            background-size: cover;
            transform: translate(65px, -45px);
        }
    }

    &__amount {
        font-size: $fs-alerts;
        color: $dark;
    }
}

.desc__highlight {
    margin-top: 24px;
    font-weight: 600;
}
