.logo--sidebar,
.profile--sidebar,
.btn--logout--mobile {
    display: none;
}

.navbar {
    width: 150px;
    font-size: var(--fs-alerts);
}

.navlink {
    display: block;
    margin-bottom: 26px;
    transition: color var(--duration);

    &--active {
        position: relative;
        pointer-events: none;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 18px);
            left: -8px;
            width: 4px;
            height: 36px;
            border-radius: 10px;
            background-color: var(--blue);
        }
    }

    &:hover {
        color: var(--blue);
    }
}
