/**
Содержание:
1. Глобальные стили
    1.1 Подключение шрифта
    1.2 Переменные
    1.3 Сброс настроек блочной модели
2. Стили для компонентов
    2.1 Флекс-контейнеры
    2.2 Модальные окна
    2.3 Кнопки
    2.4 Галерея
3. Стили для контента модального окна
*/

/**
1. Глобальные стили
*/

/* 1.1 Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* 1.2 Переменные */
:root {
    --fs-headings: 20px;
    --fs-alerts: 16px;
    --fs-content: 14px;
    --lh-headings: 32px;
    --lh-generic: 24px;
    --dark: #1c1819;
    --blue: #2a81dd;
    --grey: #888b94;
    --radio-checked: #d6ecfb;
    --outline: rgba(28, 24, 25, 0.1);
    --radius-sm: 8px;
    --radius-lg: 16px;
}

/* 1.3 Сброс настроек блочной модели */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-content);
    line-height: var(--lh-generic);
    color: var(--dark);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2,
p,
dd {
    margin: 0;
}

button {
    display: block;
    border: none;
    font: inherit;
    cursor: pointer;
}

abbr {
    text-decoration: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

/**
2 Стили для компонентов
*/

/* 2.1 Флекс-контейнеры */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* 2.2 Модальные окна */
.overlay {
    justify-content: center;
    height: 100vh;
}

.overlay::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: var(--dark);
    opacity: 0.6;
}

.modal {
    max-width: 1040px;
    padding: 24px;
    border-radius: var(--radius-lg);
    background-color: #fff;
    box-shadow: inset 0 0 0 1px var(--outline);
}

.modal__close {
    width: 32px;
    height: 32px;
    font-size: 0;
    margin-left: auto;
    background-color: transparent;
    background-image: url('../assets/close-btn.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* 2.3 Кнопки */
.btn {
    padding: 0.45em 2.65em;
    border-radius: var(--radius-sm);
    box-shadow: 0 2px 4px var(--outline);
}

.btn--hero {
    background-color: var(--blue);
    color: #fff;
}

/* 2.4 Галерея */
.gallery__fullsize {
    flex-wrap: nowrap;
    padding: 15px;
}

.fullsize__slide img {
    width: 330px;
    height: 330px;
    object-fit: scale-down;
}

.fullsize__slide:not(.fullsize__slide:nth-child(2)) {
    display: none;
}

.gallery__thumbs {
    max-width: 290px;
    margin-inline: auto;
    justify-content: center;
}

.thumb {
    margin-top: 8px;
    margin-right: 8px;
}

.thumb:last-child {
    margin-right: auto;
}

.thumb:first-child {
    margin-left: auto;
}

.thumb img {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-sm);
}

.thumb.active img {
    border: 1px solid var(--blue);
}
