.formgroup {
    margin: 0;
    padding: 0;
    border: none;

    &__btn {
        display: inline-block;
        margin: 8px 8px 0 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn--catalog {
        margin-top: 0;
        margin-right: 4px;
    }

    &__label {
        display: block;
        border-radius: $radius-sm;
        line-height: 40px;
        text-align: center;
        color: $blue;
        box-shadow: inset 0 0 0 1px rgba(28, 24, 25, 0.1);
        cursor: pointer;
        transition: box-shadow $duration;

        &:hover {
            box-shadow: inset 0 0 0 1px $blue;
        }
    }

    &__label--catalog {
        padding-block: 6px;
        padding-inline: 1.5em;
        line-height: 24px;
    }

    &__input--radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: none;

        &:checked + label {
            pointer-events: none;
            color: $dark;
            background-color: $radio-checked;
            box-shadow: none;
        }
    }

    &__caption--catalog {
        @include visually-hidden;
    }
}
